# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Python
* R
* SQL

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Panndas
3. SciPy
4. Matplotlip
5. Scikit

| Data Science Tools|
|-------------------|
| Juyter Notebooks |
|Pytorch|
|MLFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60.
h = 200 // 60
m = 200 % 60
print("200 minutes is ", h, "hours and ", m, "minutes." )

200 minutes is  3 hours and  20 minutes.

## Author
Minoo Zarsav